body {
    /* don't know */
    background-image:url("assets/4background.jpg");
    /* background: linear-gradient( */
        /* 0deg,
        rgb(255, 255, 255),
        rgb(19,19,19)
    ); */
    color: white;
    margin: 15px;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

/* div styling */
.wrapper {
    margin:10px;
    display: flex;
    flex-wrap: wrap;
}

.ballDiv{
    margin:50px;
}

.caveDiv {
    margin: 50px;
}

.blueDiv {
    margin: 50px;
}

.monsterDiv{
    margin: 50px;
}

.waterDiv {
    margin: 50px;
}

.bugDiv {
    margin: 50px;
}

.squiggleDiv {
    margin: 50px;
}

.fishDiv {
    margin: 50px;
}

.greenDiv {
    margin: 50px;
}

/* Button styling */
#ball {
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#cave {
    margin: 50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#blue {
    margin:50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#MonsterEgg{
    margin:50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#waterEgg{
    margin:50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#bugEgg {
    margin:50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#squiggle {
    margin:50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#fish {
    margin:50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

#green {
    margin:50px;
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family:cursive;
}

/* Name styling */
#ballPok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#cavePok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#bluePok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#monsterPok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#waterPok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#bugPok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#squigglePok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#fishPok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

#greenPok {
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}

/* image styling */
#ballImg{
    width:400px;
    height:auto;
}

#caveImg{
    width: 400px;
    height: auto;
}

#blueImg{
    width: 400px;
    height: auto;
}

#monsterImg {
    width: 450px;
    height: auto;
}

#waterImg {
    width: 400px;
    height: auto;
}

#bugImg {
    width: 400px;
    height: auto;
}

#squiggleImg {
    width: 400px;
    height: auto;
}

#fishImg {
    width: 400px;
    height: auto;
}

#greenImg {
    width: 400px;
    height: auto;
}
